                                /************** PAGE 2 **************/

/* --------------------------
        13 := footer
------------------------- */
footer{
    padding: 4rem 10rem 6rem;
    background-color: black;
    color: white;
    justify-content: space-between;
}

footer h4{
    margin-top: 1.8rem;
    margin-bottom: .8rem;
}

footer span{
    color: rgb(127, 127, 127);
    margin-top: .5rem;
}

footer button{
    padding: 1.5rem 5rem;
    background-color: rgb(230, 230, 230);
    border-radius: 3rem;
    margin-bottom: 1rem;
}

footer button a{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

footer p{
    margin-top: .6rem;
    font-size: 1.1rem;
    font-weight: bold;
}

footer figure{
    width: 38%;
    margin-top: 1.5rem;
}

footer article{
    margin: 0 1rem;
}

/* --------------------------
        14 := section1
------------------------- */
#background-video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.content{
    z-index: 10;
    position: relative;
    top: -20rem;
}

.content h1{
    text-align: center;
    font-size: 2.2rem;
    color: white;
    margin-bottom: 1.5rem;
}

.content button{
    padding: 1rem 1.8rem;
    margin-left: 43%;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    background-color: black;
}

.content button a{
    color: white;
    font-weight: bold;
}



/* --------------------------
        15 := section2
------------------------- */
.section2, .section3{
    padding: 3rem 8rem;
    justify-content: space-between;
}

.section2{
    padding-top: 0;
}

.moitie{
    width: 45%;
    margin-bottom: 2rem;
}

.noir{
    background-color: black;
    color: white;
}

.noir h2{
    font-size: 1.5rem;
    padding-bottom: .8rem;
    margin-top: 2.5rem;
    border-bottom: 1px solid white;
}

.noir span:first-child{
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

.noir span:nth-child(2){
    font-size: 8rem;
}

.noir span:last-child{
    align-self: flex-end;
    margin-bottom: 1.5rem;
}

.noir span:last-child, .noir span:first-child{
    color: rgb(215, 215, 215);
    opacity: .6;
}

.noir p{
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    opacity: .6;
    font-size: .9rem;
    margin-bottom: 3rem;
}


.bas{
    background-color: rgb(247, 247, 247);
    color: rgb(112, 113, 115);
}

.bas span{
    padding-left: 17%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(234, 234, 234);
    font-size: 1.1rem;
}

.bas span span{
    background-color: rgb(85, 202, 144);
    color: white;
    padding: .9rem .6rem;
    border-radius: 50%;
    font-size: 1rem;
    margin-left: 1rem;
}

.bas .span_noir{
    color: black;
    font-weight: bold;
}

.popular{
    display: block;
    background-color: rgb(85, 202, 144);
    color: white !important;
    font-size: .9rem !important;
    border-radius: 50%;
    opacity: 1 !important;
    height: max-content;
    padding: 1.8rem 1rem;
    text-align: center;
    position: relative;
    left: 89%;
    top: -2.5rem;
}

.popular + .noir{
    margin-top: -5.7rem;
}

/*
.bubble:hover{
    background:black; 
    color:#fff; 
    padding:7px 15px; 
    border-radius:3px; 
    width:350px;
    content:""; 
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top: 20px solid black;
    position: absolute;
}*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* --------------------------
        16 := section3
------------------------- */

.moitie h3{
    font-size: 1.2rem;
    padding-bottom: .5rem;
    width: 95%;
    text-decoration: underline 2px;
    text-underline-offset: .8rem;
    margin-bottom: .5rem;
}

.moitie p{
    margin-bottom: 2rem;
}

.moitie a{
    color: rgb(85, 202, 144);
}